{% extends './base.html' %}

{% block title %}
Inicio
{% endblock %}

{% block article %}
<h1>Catalogo MSX</h1>
<p>Bienvenidos a nuestra página de juegos para la consola MSX. Aquí encontrarás una amplia selección de juegos para disfrutar en tu MSX. Desde clásicos como "Pac-Man" y "Space Invaders" hasta títulos más recientes como "Metal Gear" y "Final Fantasy".</p>
<p>Nuestros juegos son compatibles con todos los modelos de la consola MSX, desde el MSX original hasta el MSX2+ y el Turbo-R. También ofrecemos juegos en diferentes formatos, como cartuchos, cintas y disquetes.</p>
<p>Además de juegos, también ofrecemos una variedad de accesorios para tu consola MSX, como mandos, cables de alimentación y tarjetas de expansión de memoria.</p>
<p>Nos esforzamos por ofrecer precios competitivos y un servicio al cliente excepcional. Si tienes alguna pregunta o problema, no dudes en ponerte en contacto con nosotros.</p>
<p>¡Gracias por visitar nuestra página y esperamos que disfrutes de nuestros juegos para la consola MSX!</p>
{% endblock %}

